/* // Extra small devices (portrai phones, less than 576px) */
@media (max-width: 575.98px) {
    body{
        overflow-x: hidden;
    }

    .custom-logo {
        width: 67%;
        margin-left: -16px;
    }

    .navbar, .request-quote-cta{
        display:none; 
    }

    .offset-2 {
        margin-left: unset;
    }

    /* -------------------------------
    Header ------------------------  */
    .mobile-toggle-button {
        display:block; 
    }

    .slider-lead {
        font-size: 24px;
        padding: 16px;
    }

    .ij-our-services h4:not(.service-title), .ij-partnership h4, .main-section-title {
        width: 100%;
        margin: 24px 0px;
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}